# Merging Extra Practice

For these questions, you'll be using data from the Austin Animal Center, containing information on animal intakes and animal outcomes. The original sources of this data are [here](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [here](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/about_data).

Read the provided csv files into DataFrames named "intakes" and "outcomes".

In [3]:
import pandas as pd

In [4]:
intakes = pd.read_csv('..//data/Austin_Animal_Center_Intakes.csv')
outcomes = pd.read_csv('..//data/Austin_Animal_Center_Outcomes.csv')

In [5]:
intakes.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [6]:
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

0. Is the relationship between the intakes and outcomes tables one-to-one, many-to-one, one-to-many, or many-to-many?

- The relationship between intakes and outcomes is a many to many if the Animal Id is the key that is being joined on. Both tables allow the id to be in the table many times.

1. The key identifier variable for this data is the Animal ID. Perform a merge to determine if there are any animal ids from the intakes data that do not appear in the outcomes data and vice versa. Think carefully about which column or columns you'd like to merge on.

- There are 431 animal ids that are in intakes that are not in outcomes
- There are 815 animal ids that are in outcomes that are not in intakes.

In [18]:
intake_missing = pd.merge(left = intakes, 
         right = outcomes, 
         left_on = 'Animal ID', 
         right_on = 'Animal ID', 
         how = 'outer',
         indicator = True)
# using indicator = True to see if which table the data came from.

In [25]:
intake_missing[intake_missing['_merge'] == 'left_only']
# returning only rows that were only from the left table.

,Animal ID,Name_x,DateTime_x,MonthYear_x,Found Location,Intake Type,Intake Condition,Animal Type_x,Sex upon Intake,Age upon Intake,...,MonthYear_y,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_y,Sex upon Outcome,Age upon Outcome,Breed_y,Color_y,_merge
3226,A602060,*Drew,05/15/2020 02:24:00 PM,05/15/2020 02:24:00 PM,11005 American Mustang Loop in Austin (TX),Stray,Injured,Dog,Intact Male,10 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3337,A606477,Maxine,02/01/2021 12:39:00 PM,02/01/2021 12:39:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3828,A614394,Ellie,01/06/2021 03:07:00 PM,01/06/2021 03:07:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3829,A614395,Mya,01/06/2021 03:07:00 PM,01/06/2021 03:07:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4144,A618391,Lazarus,03/02/2021 02:10:00 PM,03/02/2021 02:10:00 PM,1912 East William Cannon in Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161669,A830173,NaN,03/03/2021 03:59:00 PM,03/03/2021 03:59:00 PM,14912 Fagerquist Rd in Travis (TX),Stray,Normal,Dog,Intact Male,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
161670,A830174,NaN,03/03/2021 03:59:00 PM,03/03/2021 03:59:00 PM,14912 Fagerquist Rd in Travis (TX),Stray,Normal,Dog,Intact Female,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
161671,A830180,Gigi,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
161672,A830181,Nona,03/03/2021 04:31:00 PM,03/03/2021 04:31:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
161673,A830183,NaN,03/03/2021 05:12:00 PM,03/03/2021 05:12:00 PM,6802 Bryonwood Drive in Austin (TX),Stray,Medical,Dog,Intact Female,1 month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [31]:
outcomes_missing = pd.merge(
    left = outcomes, 
    right = intakes, 
    left_on = 'Animal ID', 
    right_on = 'Animal ID', 
    how = 'outer', 
    indicator = True
)

In [24]:
outcomes_missing[outcomes_missing['_merge'] == 'left_only']

,Animal ID,Name_x,DateTime_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,...,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y,_merge
59,A275975,Squeakers,10/12/2013 11:27:00 AM,10/12/2013 11:27:00 AM,03/12/2002,Adoption,NaN,Cat,Spayed Female,11 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
157,A335950,Doyle,02/06/2014 11:16:00 AM,02/06/2014 11:16:00 AM,02/07/2002,Euthanasia,Suffering,Dog,Neutered Male,12 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
232,A362137,*Darcy,01/01/2014 07:39:00 AM,01/01/2014 07:39:00 AM,08/06/2004,Adoption,Foster,Dog,Spayed Female,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
652,A465501,Molly,10/31/2013 12:46:00 PM,10/31/2013 12:46:00 PM,11/26/2006,Adoption,NaN,Dog,Spayed Female,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
902,A499457,Charlie,12/18/2013 01:50:00 PM,12/18/2013 01:50:00 PM,11/22/2007,Transfer,Partner,Dog,Neutered Male,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8810,A664224,Toby,10/02/2013 05:16:00 PM,10/02/2013 05:16:00 PM,10/31/2011,Adoption,NaN,Dog,Neutered Male,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8811,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8832,A664229,*Baltazar,10/16/2013 05:14:00 PM,10/16/2013 05:14:00 PM,09/30/2009,Adoption,NaN,Dog,Neutered Male,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8833,A664230,Arya,10/07/2013 01:13:00 PM,10/07/2013 01:13:00 PM,04/30/2012,Transfer,Partner,Dog,Spayed Female,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8834,A664231,Sophie,10/13/2013 04:02:00 PM,10/13/2013 04:02:00 PM,09/30/2011,Adoption,NaN,Dog,Spayed Female,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

2. Sometimes, the column you want to merge on is the index of the DataFrame. For this problem, let's try merging on the index. Set the index of the intakes and outcomes dataframes to "Animal ID" (using the [set_index method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html) and then merge the two. Afterwards, you may want to set the index back to how it originally was (using the [reset_index method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html)).

In [28]:
intakes_si= intakes.set_index('Animal ID')
outcomes_si = outcomes.set_index('Animal ID')

3. Merge the intakes and outcomes dataframe on just the Animal ID column. Notice that any other columns that are in common get a _x and _y suffix. Use the suffixes parameter to change this to _intake and _outcome. Are there are animal ids which have different Name values in the intake and outcomes DataFrames?

In [33]:
intakes_outcomes = pd.merge(
    left = outcomes, 
    right = intakes, 
    left_on = 'Animal ID', 
    right_on = 'Animal ID', 
    how = 'inner' 
)

In [34]:
intakes_outcomes.head()

,Animal ID,Name_x,DateTime_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,...,DateTime_y,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,...,05/02/2019 04:51:00 PM,05/02/2019 04:51:00 PM,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,...,07/12/2018 12:46:00 PM,07/12/2018 12:46:00 PM,7201 Levander Loop in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,...,08/16/2020 10:10:00 AM,08/16/2020 10:10:00 AM,Armadillo Rd And Clubway Ln in Austin (TX),Wildlife,Sick,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/08/2016 11:05:00 AM,02/08/2016 11:05:00 AM,Dove Dr And E Stassney in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,...,02/15/2016 10:37:00 AM,02/15/2016 10:37:00 AM,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

4. Merging just on Animal ID doesn't necessarily match a given intake to its corresponding outcome. However, we can change the way that we merge to try to match these up correctly.

    4a. We'll need to make use of the DateTime columns in order to make this merge work. Convert these columns to the datetime type.

In [51]:
print(intakes['DateTime'] )

0         01/03/2019 04:19:00 PM
1         07/05/2015 12:59:00 PM
2         04/14/2016 06:43:00 PM
3         10/21/2013 07:59:00 AM
4         06/29/2014 10:38:00 AM
                   ...
124115    01/08/2021 07:01:00 PM
124116    03/03/2021 05:12:00 PM
124117    03/03/2021 04:31:00 PM
124118    03/03/2021 05:13:00 PM
124119    03/03/2021 04:31:00 PM
Name: DateTime, Length: 124120, dtype: object

In [54]:
intakes['DateTime'] = pd.to_datetime(intakes['DateTime'], format="%m/%d/%Y %I:%M:%S %p")

4b. Now, use the [merge_asof function](https://pandas.pydata.org/docs/reference/api/pandas.merge_asof.html) in order to match intake rows to their corresponding outcome rows. That is, each intake row should be matched with the outcome that is nearest to it in the future (still matched by Animal ID).

4c. Are there any instance of an intake that doesn't have an outcome before the next intake? Keep only the last intake row for those cases.

4d. Create a new column showing the time between intake and outcome. What does the distribution of these values look like? Does it vary by animal type?

4e. Find all rows where the animal is intact at intake and spayed or neutered at outcome. What percentage of intact intakes result in a spay or neuter?